body {
    font-family: Arial, sans-serif;
    background-color: #bbdefb;
    color: #333;
    text-align: center;
}
header {
    background-color: #2196f3; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement interne */
    display: flex; /* Utilisation de flexbox pour l'alignement */
    justify-content: space-between; /* Espacement entre logo et nav */
    align-items: center; /* Alignement vertical */
}

.logo h1 {
    margin: 0; /* Suppression des marges */
    font-size: 1.8em; /* Taille de la police */
}

nav ul {
    list-style-type: none; /* Suppression des puces */
    padding: 0; /* Suppression du padding */
    margin: 0; /* Suppression des marges */
    display: flex; /* Utilisation de flexbox pour l'alignement */
}

nav ul li {
    margin: 0 15px; /* Espacement entre les éléments de la liste */
}

nav ul li a {
    color: white; /* Couleur des liens */
    text-decoration: none; /* Suppression du soulignement */
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s; /* Transition pour l'effet hover */
}

nav ul li a:hover {
    color: #ffeb3b; /* Couleur au survol */
}

footer {
    margin-top: 20px;
}
.download-link {
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.download-link:hover {
    background-color: #0d47a1;
}